{% extends 'base.html' %}

{% block title%}
About
{% endblock %}
    
{% block content%}
<div class="container text-white">
    <div class="row">
      <div class="col-md-8">
        <h2 class="mb-4">Welcome to Medical Trust Hospital</h2>
        <p>
          Medical Trust Hospital stands as a beacon of healthcare excellence, dedicated to providing comprehensive and compassionate medical services. Our highly qualified team of doctors, nurses, and support staff work collaboratively to ensure the well-being of our patients.
        </p>
        <p>
          With a commitment to excellence, our hospital is equipped with state-of-the-art facilities, including modern diagnostic tools and advanced medical technology. This allows us to deliver accurate diagnoses and personalized treatment plans tailored to the unique needs of each individual.
        </p>
        <p>
          Our specialized departments cover a wide range of medical fields, including cardiology, neurology, orthopedics, and more. Whether you require preventive care, routine check-ups, or advanced treatments, Medical Trust Hospital is your one-stop destination for comprehensive healthcare services.
        </p>
        <p>
          We prioritize patient comfort and satisfaction, fostering a patient-friendly environment where individuals and their families feel supported and cared for. Our mission is to be a trusted healthcare partner, contributing to the overall health and happiness of our community.
        </p>
        <p>
          Explore the expertise of our dedicated team and experience the highest standards of medical care at Medical Trust Hospital. We look forward to serving you with dedication and compassion.
        </p>
      </div>
    </div>
  </div>
{% endblock %}